<launch>
  <!-- Gọi Gazebo và các cấu hình mô phỏng -->
  <include file="$(find tracked_robot)/launch/gazebo.launch"/>

  <!-- Gọi hiển thị và mô tả robot -->
  <include file="$(find tracked_robot)/launch/display.launch"/>

  <!-- (Tùy chọn) Điều khiển từ bàn phím -->
  <!-- <node name="control_by_keyboard" 
        pkg="tracked_robot" 
        type="control_by_keyboard.py" 
        output="screen"/> -->
</launch>