<launch>
    <!-- Launch display.launch -->
    <include file="$(find ros_tracked_robot)/launch/display.launch" />

    <!-- Launch gazebo.launch -->
    <include file="$(find ros_tracked_robot)/launch/gazebo.launch" />

    <!-- Run control_by_keyboard.py -->
    <node name="control_by_keyboard" pkg="ros_tracked_robot" type="control_by_keyboard.py" output="screen" launch-prefix="python3" />
</launch>
